.container {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../public/images/happy-day.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxTopRight {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.boxBottomLeft {
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
}

.quote {
  max-width: 40%;
  font-size: 3rem;
}
